.Navbar {
  background-color:White;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #005cb8;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;;
  }
  
  li a:hover:not(.active) {
    background-color: #be302a;
    color: white;
  }
  
  .active {
    background-color: #4CAF50;
  }