


.button {
  border-radius: 12px;  
  border: none;
  /* color: white; */
  padding: 20px;
  width: 15%;
  height: 100px;
  text-align: auto;
  text-decoration: none;
  /* display: inline-block;*/
  font-size: 36px; 
  margin: auto; 
  margin: center;
  /* cursor: pointer;
  color:white;*/ 
}

.button1 {  
    background-color:blue; 
    
}
.button2 {
    background-color:red;

}
.button3 {
    background-color:green;
}
.button4 {
    background-color:yellow;
}
.button5 {
    background-color:#01579B;
}