h1 { font-family: Oswald; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Oswald; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Oswald; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Oswald; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 900; line-height: 30px; } pre { font-family: Oswald; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px; }

p {
  text-align: left;
  font-size: 26px;
  color:black;
  margin: 25px;;
  padding:30px
}
body  {
  background-color:#eaf0f2;
}

.h1font {
  font-size:35;
}

.photo  {

}

/* Current/active navbar link */
.active {
    background-color: #4CAF50;
    transition-property: color, background-color, left, top;
    transition-duration: .6s, .6s, .6s, .6s;
  }
/*The navbar should:

Have a font size of 25pxHave a background color of #263238
Height of 75px
 Navbar container */
.navbar {
   /* float: center; */
  
  text-align: center;
  background-color: #01579B;
  /* color: yellow;  The top menu bars should have a dark blue color (#01579B).333; */
  /* font-family: Arial; */
  font-size:25px;
  height: 75px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width:804px;
}

/* Links inside the navbar */
/* Have a font size of 25pxHave a background color of #263238
Height of 75px
Should change colors when you hover over a menu item (#546E7A) */
.navbar a {
  float: auto;
  font-size: 25px;
  /* color: yellow; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height:75px;
  margin-left: auto;
  margin-right: auto;
  width:auto;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;
  /* width: 700px; */
}

/* The dropdown container 
The dropdown menu items in the navigation bar should:

Have a height of 45px
Have a line height of 45px
Top and bottom padding of 15px and left and right padding of 20px
Become a light color when you hover over a link (CFD8DC)
Have a transition time of 0.6 seconds.*/
.dropdown {
  float: left;
  color: #01579B
  text-align: center;
  width: auto;
  height: 45px;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;

}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 25px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: #01579B;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;
  text-align: center;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  width:auto;
  height:75px;
}

/* Dropdown button */
/* The logo should:

Be 42px and have top and bottom padding of 15px, and left and right padding of 35px, and a line height of 35px. */

.dropdown .dropbtn-logo {
    font-size: 42px; 
    border: none;
    outline: none;
    color: black;
    padding: 15px 35px;
    background-color: #01579B;
    transition-property: color, background-color, left, top;
    transition-duration: .6s, .6s, .6s, .6s;  
    text-align: center;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    width:auto;
    line-height:35px;
    height:75px;
  }

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #546E7A;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;

  /* background-color: red; /*When you hover over a top menu item, it should change to a light blue color (#9AD1E3). */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #01579B;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;
  text-align: center;
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color:#CFD8DC;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;
}

.footer {
    font-size: 18px;
    padding: 50px;
    margin-top: 75px;
    position:absolute;
    bottom:0;
    width:100%;
    height:0px;
    max-height:0px;    /* Height of the footer */
    background-color:#263238 ;
    /* color:#B0BEC5;
    font-size: 28px; */
 }

 /* “The News” should have a color of B0BEC5 and a font size of 28px */
 .footer-TheNews  {
  color:#B0BEC5;
  font-size: 28px;
  text-align:center;
 }

 /*The copyright should have a color of B0BEC5 and a font size of 16px*/
.footer-copyright {
  font-size:16px;
  color:#B0BEC5;
  text-align:center;
}

.dropdown-footer {
  float: left;
  color: #01579B
  text-align: center;
  width: auto;
  height: 45px;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;

}

/* Dropdown button */
.dropdown-footer .dropbtn-footer {
  font-size: 25px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: #01579B;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;
  text-align: center;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  width:auto;
  height:75px;
}

/* Dropdown button */
/* The logo should:

Be 42px and have top and bottom padding of 15px, and left and right padding of 35px, and a line height of 35px. */

/* .dropdown .dropbtn-logo {
    font-size: 42px; 
    border: none;
    outline: none;
    color: black;
    padding: 15px 35px;
    background-color: #01579B;
    transition-property: color, background-color, left, top;
    transition-duration: .6s, .6s, .6s, .6s;  
    text-align: center;
    font-family: inherit; /* Important for vertical align on mobile phones 
    margin: 0; /* Important for vertical align on mobile phones 
    width:auto;
    line-height:35px;
    height:75px;
  } */

.navbar-footer a:hover, .dropdown-footer:hover .dropbtn-footer {
  background-color: #546E7A;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;

  /* background-color: red; /*When you hover over a top menu item, it should change to a light blue color (#9AD1E3). */
}

/* Dropdown content (hidden by default) */
.dropdown-content-footer {
  display: none;
  position: absolute;
  background-color: #01579B;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;
  text-align: center;
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-footer a {
  float: none;
  color: black;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content-footer a:hover {
  background-color:#CFD8DC;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;
}

/* Show the dropdown menu on hover */
.dropdown-footer:hover .dropdown-content-footer.dropdown-footer {
  float: left;
  color: #01579B
  text-align: center;
  width: auto;
  height: 45px;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;

}

/* Dropdown button */
.dropdown-footer .dropbtn-footer {
  font-size: 25px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: #01579B;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;
  text-align: center;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  width:auto;
  height:75px;
}

/* Dropdown button */
/* The logo should:

Be 42px and have top and bottom padding of 15px, and left and right padding of 35px, and a line height of 35px. */

/* .dropdown-footer .dropbtn-logo {
    font-size: 42px; 
    border: none;
    outline: none;
    color: black;
    padding: 15px 35px;
    background-color: #01579B;
    transition-property: color, background-color, left, top;
    transition-duration: .6s, .6s, .6s, .6s;  
    text-align: center;
    font-family: inherit; /* Important for vertical align on mobile phones 
    margin: 0; /* Important for vertical align on mobile phones 
    width:auto;
    line-height:35px;
    height:75px;
  }
 */

 /*  FOOTER */
 /*FOOTER*/
  /*  FOOTER */
 /*FOOTER*/

 .navbar-footer {
  /* float: center; */
 
 text-align: center;
 background-color: #01579B;
 /* color: yellow;  The top menu bars should have a dark blue color (#01579B).333; */
 /* font-family: Arial; */
 font-size:25px;
 height: 75px;
 align-content: center;
 margin-left: auto;
 margin-right: auto;
 width:804px;
color:yellow;
}

/* Links inside the navbar */
/* Have a font size of 25pxHave a background color of #263238
Height of 75px
Should change colors when you hover over a menu item (#546E7A) */
.navbar-footer a {
 float: auto;
 font-size: 25px;

 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 height:75px;
 margin-left: auto;
 margin-right: auto;
 width:auto;
 transition-property: color, background-color, left, top;
 transition-duration: .6s, .6s, .6s, .6s;
 /* width: 700px; */
}


.navbar-footer a:hover, .dropdown-footer:hover .dropbtn-footer {
  background-color: #546E7A;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;

  /* background-color: red; /*When you hover over a top menu item, it should change to a light blue color (#9AD1E3). */
}

/*  FOOTER Dropdown content (hidden by default) */
.dropdown-content-footer {
  display: none;
  position: absolute;
  background-color: #01579B;
  transition-property: color, background-color, left, top;
  transition-duration: .6s;
  text-align: center;
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/*  FOOTER Links inside the dropdown */
.dropdown-content-footer a {
  float: none;
  color: black;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
}

/* FOOTER Add a grey background color to dropdown links on hover */
.dropdown-content-footer a:hover {
  background-color:#CFD8DC;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;
}

/*  FOOTER Show the dropdown menu on hover */
.dropdown-footer:hover .dropdown-content-footer {
  display: block;
  transition-property: color, background-color, left, top;
  transition-duration: .6s, .6s, .6s, .6s;
}

