.flex-container  {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    background-color: red;

  }

  .flex-item {
    display: flex;
    flex-direction: row-reverse;
    background-color: yellowgreen;
    justify-content: center;
  }

