html body  {
    background-color: yellowgreen;
    color:black;
    font-size: 96px;
    font-family: 'Open Sans', sans-serif;
}

.document.write {
    background-color: yellowgreen;
    color:black;
    font-size: 96px;
    font-family: 'Open Sans', sans-serif;
}

.str    {
    background-color: yellowgreen;
    color:black;
    font-size: 96px;
    font-family: 'Open Sans', sans-serif;
}

.function .return {
    background-color: yellowgreen;
    color:black;
    font-size: 96px;
    font-family: 'Open Sans', sans-serif;
}

.container    {
    background-color: yellowgreen;
    color:black;
    font-size: 96px;
    font-family: 'Open Sans', sans-serif;
}




.return .str {
    display: inline;
    background-color: yellowgreen;
    color:black;
    font-size: 96px;
    font-family: 'Open Sans', sans-serif;
  }